<script lang="ts">
	import { SimpleDarkWithMenuButtonOnLeft } from '$lib/navigation/navbars';
	import { WithCloseButtonOnOutside } from '$lib/application-ui/overlays/slide-overs';
	import { WithColorAndSizeSelector } from '$lib/ecommerce/components/product-quickviews';
	import { SimpleWithGrayFooter } from '$lib/application-ui/overlays/modals';
	import { StackedRadioGroup } from '$lib/community';

	import BreadcrumbNav from '$lib/_internal/BreadcrumbNav.svelte';
	import BreadcrumbLink from '$lib/_internal/BreadcrumbLink.svelte';
	import ExampleHeading from '$lib/_internal/ExampleHeading.svelte';
	import ExampleInline from '$lib/_internal/ExampleInline.svelte';

	let slideOverActive = false;
	const toggleSlideOverActive = () => (slideOverActive = !slideOverActive);
	const handleOverlayBtnClick = () => toggleSlideOverActive();

	let quickviewActive = false;
	const toggleQuickviewActive = () => (quickviewActive = !quickviewActive);
	const handleQuickviewBtnClick = () => toggleQuickviewActive();

	let modalActive = false;
	const toggleModalActive = () => (modalActive = !modalActive);
	const handleModalBtnClick = () => toggleModalActive();
</script>

<SimpleDarkWithMenuButtonOnLeft />
<WithCloseButtonOnOutside bind:active={slideOverActive} />
<SimpleWithGrayFooter bind:open={modalActive} />
<WithColorAndSizeSelector bind:open={quickviewActive} />

<div class="p-3">
	<h1 class="mb-4">Svelte Tailwind UI Freebies</h1>
	<p>
		This site contains <a href="https://tailwindui.com/preview">freebies provided by Tailwind UI</a>
		ported to Svelte using
		<a href="https://github.com/rgossiaux/svelte-headlessui">rgossiaux/svelte-headlessui</a>.
	</p>
	<p>
		Visit <a href="https://codeberg.org/vhs/svelte-tailwindui-freebies"
			>codeberg.org/vhs/svelte-tailwindui-freebies</a
		> to view the source code.
	</p>
	<p>
		View the online demo running online at <a href="https://svelte-tailwindui-freebies.vercel.app/"
			>svelte-tailwindui-freebies.vercel.app</a
		>.
	</p>

	<section class="mb-4 mt-6">
		<p class="mb-4">Application UI > Overlays > Slide-overs</p>
		<button
			on:click={handleOverlayBtnClick}
			class="bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
			>With close button on outside</button
		>
		<a
			tabindex="-1"
			class="text-sm ml-1"
			target="tailwindui"
			href="https://tailwindui.com/preview#component-91416d48f50d19d1ad826e5a6c77b1e9">reference</a
		>
	</section>

	<section class="mb-4 mt-6">
		<p class="mb-4">Application UI > Overlays > Modals</p>
		<button
			on:click={handleModalBtnClick}
			class="bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
			>Simple with gray footer</button
		>
		<a
			tabindex="-1"
			class="text-sm ml-1"
			target="tailwindui"
			href="https://tailwindui.com/preview#component-91416d48f50d19d1ad826e5a6c77b1e9">reference</a
		>
	</section>

	<section class="mb-4">
		<p class="mb-4">Ecommerce > Components > Product Quickviews</p>
		<button
			on:click={handleQuickviewBtnClick}
			class="bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
			>With color and size selector</button
		>
		<a
			tabindex="-1"
			class="text-sm ml-1"
			target="tailwindui"
			href="https://tailwindui.com/preview#component-8f33b33d19bbb2608bb5ae6488344e88">reference</a
		>
	</section>

	<hr />

	<section class="my-4">
		<h2 class="mb-4">Community</h2>
		<p class="mb-4">Application UI > Forms > Input Groups</p>
		<StackedRadioGroup />
	</section>

	<hr />

	<section class="my-4" id="component-2607d970262ada86428f063c72b1e7bd">
		<BreadcrumbNav>
			<span slot="first">
				<BreadcrumbLink href="/components#product-application-ui">Application UI</BreadcrumbLink>
			</span>
			<span slot="second">
				<BreadcrumbLink href="/components#product-application-ui-forms">Forms</BreadcrumbLink>
			</span>
			<span slot="third">
				<BreadcrumbLink href="/components/application-ui/forms/input-groups"
					>Input Groups</BreadcrumbLink
				>
			</span>
		</BreadcrumbNav>
		<ExampleHeading handle="2607d970262ada86428f063c72b1e7bd">
			Input with inline leading add-on and trailing dropdown
		</ExampleHeading>
		<ExampleInline handle="2607d970262ada86428f063c72b1e7bd" />
	</section>
</div>
